{% extends 'base.html' %}


{% block content %}

{% load cart %}

<style>

.life8 {
    background-color: bisque;
    color: black;
}

</style>



<div class="container">
    <div class="border rounded p-4 m-4">
        <p class="display-4 text-center">Cart</p>
        <table class="table mx-auto">
            
            <thead>
                <tr class="text-center">
                    <th></th>
                    <th>Product</th>
                    <th>Ordering from</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                {% for product in products %}
                
                <tr class="text-center">
                    <td><img style="height: 100px;" src="{{product.image.url}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Product Image"></td>
                    <td>{{product.title}}</td>
                    <td>{{product.category}}</td>
                    <td>₹ {{product.price}}</td>
                    <td>{{product|cart_qty:request.session.cart}}</td>
                    <td>₹ {{product|item_total:request.session.cart}}</td>
                    <td>  <form action = "/transfer#{{product.id}}" method = "post" class = "col-2">
                        {% csrf_token %}
                        {% if customer_correct %}
                        <input hidden type="text" name ='transferred' value='{{product.id}}'>

                        <input type="submit"  class="life8" name ='transferred1' value='Transfer to Wishlist'> </form> </td>
                        {% else %}
              
              <form action="/menu"> <input type= "submit" class="life8" value="Add To Wishlist" class="btn btn-primary" id="life5" onclick="alert('Please sign in to continue')">  </form>
              {% endif %}
                    <td>  <form action = "/removal-cart#{{product.id}}" method = "post" class = "col-2">
                        {% csrf_token %}
                        <input hidden type="text" name ='removed_cart' value='{{product.id}}'>
                        <input type="submit" class="life8" name ='removed_cart1' value='Remove from Cart'> </form> </td>
                </tr>

                {% endfor %}

            </tbody>

            <tfoot>
                <tr class="text-center">
                    <th colspan="7"></th>
                    <th>
                        ₹ {{products|cart_total:request.session.cart}}
                    </th>
                </tr>
            </tfoot>

        </table>

        <div class="m-3 p-1">
            <a href="/checkout" class="btn btn-sm btn-info col-lg-3 float-right">Checkout</a>
        </div>

    </div>

</div>


{% endblock %}