{% extends 'base.html' %}


{% block content %}


<style>
    #oks {
    margin-left: 30%
    }

    #whatsup {
        margin-left: 33%;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-style: italic
    
    }
</style>


<div>
<p> <a id="oks"> <img src="https://i.imgur.com/8GHrcZ4.png" width="500" height="500"> </a>
    <br id="whatsup">
    <h3 id="whatsup"> To continue shopping, <a style= "color:  maroon" href= "/menu" title="Home"> click here </a> </h3>
</p>
</div>

{% endblock %}