{% extends 'base.html' %}

{% block content %}

<Style>
    p {
        text-align: center;
        font-style: italic;
        color: maroon;
        padding-top: 30px;
    }

</Style>

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mx-auto border rounded pt-3">
            <form action="/login" method = "POST" >
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                
                <!-- email -->
                <div class="form-group">
                  <label for="Email">Email:</label>
                  <input required type="email" name="email" id="" value="{{saved_value.email}}" class="form-control" placeholder="example@gmail.com">
                </div>

                <!-- email -->
                <div class="form-group">
                    <label for="Password">Password:</label>
                    <input type="password" name="password" id="" class="form-control" placeholder="************">
                </div>

                <div class="form-group pt-1.5">
                    <input class="btn btn-sm btn-info col-lg-3" type="submit" value="Login">
                </div>
                
            </form>
        </div>
    <p> If you don't have an account, make an account by <a style= "color: darkcyan" href= "/signup" title="Home" target = "_blank"> clicking here </a> </p>
    </div>
</div>

{% endblock %}