{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<Style>
    p {
        text-align: center;
        font-style: italic;
        color: maroon;
        padding-top: 30px;
    }

    .buttons {
width: 560px;
margin: 0 auto;
}

    .action_btn {
width: 500px;
margin: 0 auto;
padding:10px 7px 10px 10px;
}

</Style>

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mx-auto border rounded pt-3">
            <form action="/login" method = "POST" >
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                
                <!-- email -->
                <div class="form-group">
                  <label for="Email">Email:</label>
                  <input required type="email" name="email" id="" value="{{saved_value.email}}" class="form-control" placeholder="example@gmail.com">
                </div>

                <!-- email -->
                <div class="form-group">
                    <label for="Password">Password:</label>
                    <input type="password" name="password" id="" class="form-control" placeholder="************">
                </div>

                <div class="form-group pt-1.5">
                    <input class="btn btn-sm btn-info col-lg-3" type="submit" value="Login">
                </div>
                {{user}}
                <div class="buttons">

                    <div class="action_btn">
        <button style="margin-right:2%"> <a href = "{% provider_login_url "facebook" method = "js_sdk" %}"> Facebook Login <a/> </button><button>
                <a href = "{% provider_login_url "google"  %}"> Google Login <a/> </button> </div>
                </div>

                
            </form>
        </div>
   
    <p> If you don't have an account, make an account by <a style= "color: darkcyan" href= "/signup" title="Home"> clicking here </a> </p>
    </div>
</div>

{% endblock %}