{% extends 'base.html' %}


{% block content %}

{% load cart %}


<div class="container">
    <div class="border rounded p-4 m-4">
        <p class="display-4 text-center">My Orders</p>
        <table class="table mx-auto">
            
            <thead>
                <tr class="text-center">
                    <th>Date</th>
                    <th></th>
                    <th>Product</th>
                    <th>Ordering from</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Rate</th>
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                
                <tr class="text-center">
                    <td>{{order.date}}</td>
                    <td><img style="height: 100px;" src="{{order.product.image.url}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Product Image"></td>
                    <td>{{order.product.title}}</td>
                    <td>{{order.product.category}}</td>
                    <td>₹ {{order.price}}</td>
                    <td>{{order.quantity}}</td>
                    <td>₹ {{order.quantity|multiply:order.price}}</td>
                    <td>  <form action = "/rating#{{order.id}}" method = "post" class = "col-2" value='{{order.id}}'>
                        {% csrf_token %}
                        <label for="rating1"></label>
                            <select id="rating1" name="rating1">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <input hidden type="text" name ='rating' value='{{order.id}}'>
                            <input type="submit"> </form> </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>


{% endblock %}