{% extends 'base.html' %}

{% block content %}

<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 16px;
  }
  
  input[type=submit] {
    background-color: maroon;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #132743;
  }
  
  .container {
    border-radius: 5px;
    background-color: bisque;
    padding: 50px;
  }
  
  h1 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 40px 0px 20px 0px;
  }

  .try {
    height: 100px;
    width: 1042px;
  }


  
  </style>
  
  
  <h1 style="text-align: center">We want to know you better!</h1>

  <div class="container">
    <form action="/user-profile" method = "POST">
      {% csrf_token %}
        {% if error %}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
         
        {% endif %}
          
  
          <label for="fname">Full Name</label>
          {% if customer.fname %}
          <input type="text" id="fname" name="fname" value="{{customer.fname}}"><br>
  
          {% else %}
          <input type="text" id="fname" name="fname" value="{{saved_values.fname}}"><br>
  
          {% endif %}
  
        
        
          <label for="mobile">10 Digit Mobile Number</label>
          {% if customer.mobile %}
          <input type="text" id="mobile" name="mobile" value="{{customer.mobile}}"><br>
  
          {% else %}
          <input type="text" id="mobile" name="mobile" value="{{saved_values.mobile}}"><br>
  
          {% endif %}
        
      
  
          <label for="address">Address</label><br>
          {% if customer.address %}
         <input id="address" name="address" value="  {{customer.address}}" class="try"><br>
  
          {% else %}
          <input id="address" name="address" value="  {{saved_values.address}}" class="try"><br>
  
          {% endif %}
  
          <br>
          <input type="submit" value="Submit">
  
    </form>
  </div>
  
  </body>
  
  {% endblock %}