{% extends 'base.html' %}


{% block content %}

{% load cart %}

<style>

    #life6 {
        background-color: #132743;
        color: white;

    }
</style>

<div class="container">
    <div class="border rounded p-4 m-4">
        <p class="display-4 text-center">Wishlist</p>
        <table class="table mx-auto">
            
            <thead>
                <tr class="text-center">
                    <th></th>
                    <th>Product</th>
                    <th>Ordering from</th>
                    <th>Price</th>
                    <th> </th>
                    <th> </th>
                    
                </tr>
            </thead>
            <tbody>
                
                {% for wishlist_item in wishlist_items %}
                
                <tr class="text-center">
                    <td><img style="height: 100px;" src="{{wishlist_item.product.image.url}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Product Image"></td>
                    <td>{{wishlist_item.product.title}}</td>
                    <td>{{wishlist_item.product.category}}</td>
                    <td>₹ {{wishlist_item.product.price}}</td>
                    
                    <td>  <form action = "/transfer-wishlist#{{wishlist_item.id}}" method = "post" class = "col-2">
                        {% csrf_token %}
                        <input hidden type="text" name ='transferred_wishlist' value='{{wishlist_item.id}}'>
                        <input type="submit" id="life6" name ='transferred_wishlist1' value='Transfer to Cart'> </form> </td>
                    
                    <td>  <form action = "/removal#{{wishlist_item.id}}" method = "post" class = "col-2">
                        {% csrf_token %}
                        <input hidden type="text" name ='removed' value='{{wishlist_item.id}}'>
                        <input type="submit" id="life6" name ='removed1' value='Remove from Wishlist'> </form> </td>
                </tr>

                {% endfor %}

            </tbody>

           

        </table>

        

    </div>

</div>


{% endblock %}